body{
    margin: 0px;
    font-family: sans-serif;
}

button{
    padding: 0;
    width: 50px;
    height: 50px;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 10px;
    background: #070708dc;
    color: #c2c2c2;
    -moz-user-select: none;    -o-user-select: none;    -khtml-user-select: none;    -webkit-user-select: none;    user-select: none;
    box-shadow:0px -2px 0 #05ac05 inset;
    transition:all 0.3s;
}

#page {
    background: #353336;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#game {
    padding: 10px 20px 10px 20px;
    background-color: #161618;
    box-shadow: 0px -1px 0 #05ac05 inset, 0px 0px 40px 10px #161618;
    border-radius: 9px;

    display: flex;
}

#map-manager{
    margin-right: 20px;
    padding: 10px 0px 10px 0px;
    width: 60px;
    border-radius: 10px;
    background: #101013;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#map-menu {
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    background: #101013;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.maps{
    width: 50px;
    height: 50px;
    margin: 0px 0px 10px 0px;
    font-size: 25;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 10px;
    background: #070708dc;
    color: #c2c2c2;
    
    box-shadow:0px -2px 0 #05ac05 inset;
    transition:all 0.3s;
}
.maps:hover{
    width: 55px;
    height: 55px;
    cursor: pointer;
}

.maps[disabled] {
    width: 50px;
    height: 50px;
    color: #666666;
    background: #070708dc;
    cursor: not-allowed;
    box-shadow: none;
}

#custom-maps{
    text-align: center;
    line-height: 15px;
    word-wrap: normal;
    font-size: 9px;
}

#custom-maps:hover{
    cursor: pointer;
    box-shadow:0px -4px 0 #05ac05 inset;
}

.game-header {
    padding-top: 1vmin;
    padding-bottom: 1vmin;

    display: flex;
    justify-content: space-between;
    color: #ffffff;
    height: 50;
}

.hud {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#fpsCounter {
    color: #e3ed04;
    font-size:8pt;
    -moz-user-select: none;    -o-user-select: none;    -khtml-user-select: none;    -webkit-user-select: none;    user-select: none;
}

#scoreCounter {
    left: 50%;
    position: absolute;
    font-size: 40px;
}

#pause {
    width: 50;
    height: 50;
    font-size: 22;
    font-weight: bolder;
    border: none;
    outline: none;
    border-radius: 10px;
    background: #101013;
    color: #c2c2c2;
    -moz-user-select: none;    -o-user-select: none;    -khtml-user-select: none;    -webkit-user-select: none;    user-select: none;

    box-shadow:0px -2px 0 #05ac05 inset;
    transition:all 0.3s;
}

#pause:hover {
    box-shadow:0px -4px 0 #05ac05 inset;
    cursor: pointer;
}

#myCanvas {
    display: block;
    border-radius: 5px;
    border-bottom: 3px solid #818274;
    border-top: 3px solid #818274;
}

.canvas-wrapper {
    position: relative;
}

#continue {
    top: 40%;
    left: calc(50% - 100px);
    width: 200px;
    height: 46px;
    position: absolute;
    display: none;

    border: none;
    color: #c2c2c2;

    box-shadow:0px -2px 0 #05ac05 inset;
    transition:all 0.3s;
}
#continue:hover{
    box-shadow:0px -5px 0 #05ac05 inset;
    cursor: pointer;
  }
#game-over{
    top: 40%;
    left: calc(50% - 150px);
    width: 300px;
    height: 100px;
    position: absolute;
    display: none;
}

#you-lose{
    color: #c2c2c2;
    text-align: center;
}

#pressKeyToStart {
    color: #c2c2c2;
    font-weight: bold;
    
    font-size: 20px;
    text-align: center;
    top: 40%;
    left: calc(50% - 100px);
    position: absolute;
    display: flex;
}

#open-mapeditor{
    color: #c2c2c2;
    top: 54%;
    left: calc(50% - 130px);
    position: absolute;
    display: flex;
    transition:all 0.3s;
}
#open-mapeditor a,
#open-mapeditor a:active
{
    color: #c2c2c2;
    text-decoration: none;
    transition:all 0.3s;
}
#open-mapeditor a:hover
{
    color: #05ac05;
    text-decoration: none;
}
#open-mapeditor:hover{
    cursor: pointer;
}



#restart{
    width: 104px;
    height: 30px;
    margin-left: calc(50% - 50px);
    border-radius: 8px;
    background: #070708dc;
    border: none;
    color: #c2c2c2;

    box-shadow:0px -2px 0 #05ac05 inset;
    transition:all 0.3s;
}

#restart:hover{
    box-shadow:0px -4px 0 #05ac05 inset;
    cursor: pointer;
}

/* Уровень пройден!  ................................. */
#finish-level{
    color: #c2c2c2;
    text-align: center;
    display: none;
    top: 40%;
    left: calc(50% - 150px);
    width: 300px;
    height: 100px;
    position: absolute;
}

#next-level{
    width: 150px;
    height: 35px;
    border-radius: 8px;
    background: #070708dc;
    border: none;
    color: #c2c2c2;

    box-shadow:0px -2px 0 #05ac05 inset;
    transition:all 0.3s;
}
#next-level:hover{
    box-shadow:0px -4px 0 #05ac05 inset;
}

/* ............................ */

.footer {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    color: #b4b4b4;
}

#version {
    font-size: 12px;
}

.darkPanel {
    border-radius: 15px;
    background: #101013dc;
}

/* Нажми на пробел */

#pressKeyToStart {
    padding: 0px 50px;
    left: calc(50% - 230px);
}

#pressKeyToStart:hover {
    cursor: pointer;
}

