/* Общие классы */
.panel {
    padding: 5vh;
    color: #c2c2c2;

    text-align: center;

    display: none;
    justify-content: center;
    flex-direction: column;

    border-radius: 15px;
    background: #1010137b;

    -moz-user-select: none;    -o-user-select: none;    -khtml-user-select: none;    -webkit-user-select: none;    user-select: none;
}

.panel > p {
    margin-top: 0;
    margin-bottom: 3vh;
    font-size: 2rem;
}

.button {
    border-radius: 15px;
    background: #101013dc;
    border: none;
    color: #c2c2c2;
    padding: 15px 25px;

    font-size: min(max(1.5vw, 1.8vw), 1.5vw);

    -moz-user-select: none;    -o-user-select: none;    -khtml-user-select: none;    -webkit-user-select: none;    user-select: none;

    box-shadow:0px -2px 0 #05ac05 inset;
    transition:all 0.3s;
}
.button:hover{
    box-shadow:0px -4px 0 #05ac05 inset;
    cursor: pointer;
}

.button[disabled] {
    color: #666666;
    background: #2a2a2cdc;
    cursor: not-allowed;
    box-shadow: none;
}

.horizontal-container
{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 45% 45%;
    gap: 10%;
    
    margin-bottom: 10px;
    padding: 0 40px;
}
/* ------------------------*/

body{
    margin: 0px;
    font-family: sans-serif;
}

#page {
    background: #353336;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#game {
    padding: 10px 20px 10px 20px;
    background-color: #161618;
    box-shadow: 0px -1px 0 #05ac05 inset, 0px 0px 40px 10px #161618;
    border-radius: 9px;
}

#fpsCounter {
    color: #e3ed04;
    font-size:8pt;
}

/*       GAME HEADER         */

.game-header {
    padding-top: 1vmin;
    padding-bottom: 1vmin;
    min-height: 50px;

    display: grid;
    grid-auto-flow: column;
    grid-template-columns : auto auto auto;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;

    -moz-user-select: none;    -o-user-select: none;    -khtml-user-select: none;    -webkit-user-select: none;    user-select: none;
}

/* ----- */

#back-button {
    grid-column: 1;
    grid-row: 1;
}

#level-counter {
    font-size: 20px;
    justify-self: center;
    grid-column: 1 / 4;
    grid-row: 1;
}

#pause-button {
    font-size: 15px;
    font-weight: bolder;
    border-radius: 10px;
    grid-column: 3;
    grid-row: 1;
    display: none;
}

/* --------------------------------- */

/*       CANVAS WRAPPER         */

.canvas-wrapper {
    position: relative;
}

#myCanvas {
    display: block;
    border-radius: 5px;
    border-bottom: 3px solid #818274;
    border-top: 3px solid #818274;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 32 32' fill='none'%3E%3Ccircle cx='8' cy='8' r='1' fill='%23444444'/%3E%3C/svg%3E"),
            url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 96 96' fill='none'%3E%3Ccircle cx='8' cy='8' r='3' fill='%23444444'/%3E%3C/svg%3E");
    background-position: 0px;
      
}

/*  UI-IN-CANVAS  */

.ui-in-canvas{
    width: 70%;
    height: 60%;

    margin: auto;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    position: absolute;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

/* level-menu-panel */

#list-levels{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

/* ---------- */


#open-mapeditor-instructions
{
    margin-top: 10px;
    color: #c2c2c2;
    text-decoration: none;
    transition:all 0.3s;
}
#open-mapeditor-instructions:hover
{
    color: #05ac05;
    text-decoration: none;
    cursor: pointer;
}

/* Нажми на пробел */

#pressKeyToStart {
    font-weight: bold;
    font-size: auto;
}

#pressKeyToStart:hover {
    cursor: pointer;
}

#pressKeyToStart > p{
    margin: 0;
}


/* Инструкция и правила к редактору карт */

.enum{
    text-align: left;
}

.enum p{
    text-align: center;
    font-weight: bold;
}

.enum ul{
    padding-left: 10;
    overflow-y: scroll;
    height: 20vh;
}
.enum ul::-webkit-scrollbar{
    width: 8px;
}
.enum ul::-webkit-scrollbar-track{
    background: #0d0d0f; 
}
.enum ul::-webkit-scrollbar-thumb {
    background-color: #05ac05;    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    border: 3px solid #0d0d0f;  /* padding вокруг плашки */
}

.enum li{
    margin: 0px 5px 10px 10px;
}

#rules{
    color:#05ac05
}
#instructions{
    color: #a8bd1c
}

#open-mapeditor-container{
    margin-top: 20px;
    display: flex;
    justify-self: center;
}


/*       FOOTER         */

.footer {
    margin-top: 5px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    color: #b4b4b4;
}

/* --------------------------------- */